
@import "fonts";
@import "icons";
@import "footer";

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 64px;
  color: #305fa4;
}

img {
  max-width: 100%;
}

video {
  width: 100%;
  display: block;
}

//HEADER
.main-header {
  width: 100%;
  height: 84px;
  line-height: 84px;
  background: white;
  position: absolute;
  top: 30px;
  z-index: 10;
}

.logo {
  width: 283px;
}

.logo-atrapalo {
  width: 41px;
}

.logo-costabrava {
  width: 88px;
}


// HERO
.hero {
  background-color: #f8f4e9;
  height: 100vh;
  overflow: hidden;

  .wawa & {
    background-color: #f39a8a;

    img {
      object-position: bottom center;
    }
  }

  .tonto & {
    background-color: #f9eeb8;

    img {
      position: relative;
      z-index: 20;
    }
  }

  .camille & {
    background-color: #9dc8ec;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: top center;
  }

}

.hero-bottom {
  background-color: #f8f4e9;
  padding: 22px 0;
}


//ARTIST LIST
.artist-list {

  .col-md-4 {
    padding-bottom: 280px;
  }

  &--wawa {
    background: #ff9b8a url(../images/al-wawa-bg.png) bottom center no-repeat;
    background-size: contain;
  }

  &--tonto {
    background: #feefb8 url(../images/al-tonto-bg.png) bottom center no-repeat;
    background-size: contain;

    .artist-list--button {
      border-color: black;
    }
  }

  &--camille {
    background: #87caef url(../images/al-camille-bg.png) bottom center no-repeat;
    background-size: contain;
  }

  img {
    display: block;
    margin: 30px auto 10px;
  }

  p {
    width: 85%;
    margin: 0 auto 20px;
  }

  &--button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 17px 23px;
    color: black;
    display: inline-block;

    &:hover {
      background-color: white;
      color: black;
      text-decoration: none;
    }
  }

}

// ARTIST PAGE
.artist-wrapper {
  background: center no-repeat;
  background-size: cover;
  position: relative;

  .wawa & {
    background-image: url(../images/wawa-d-bg.png);
  }

  .tonto & {
    background-image: url(../images/tonto-d-bg.png);
  }

  .camille & {
    background-image: url(../images/camille-d-bg.png);
  }
}

.artist-description {
  width: 33.333%;
  margin: 0 auto;
  line-height: 2.8em;
  padding: 100px 0 80px 0;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    background: center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 30;
    transform: translate(-50%, -25%);

    .wawa & {
      background-image: url(../images/wawa.png);
    }

    .tonto & {
      background-image: url(../images/tonto.png);
    }

    .camille & {
      background-image: url(../images/camille.png);
    }
  }

  img {
    display: block;
    margin: 0 auto 30px;
    height: 100px;
  }

  a {
    color: black;
    display: block;
    margin-top: 2em;

    icon {
      font-size: 28px;
      margin-right: 10px;
    }
  }
}

.artist-download {
  width: 100%;
  max-width: 316px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: 20%;

  img {
    width: 100%;
    display: block;
    //margin-bottom: 40px;
  }

  &--zoom {
    display: block;
    text-align: right;
    color: black;
    font-size: 2em;
  }
}

.button-download {
  border: 1px solid #b2b3b5;
  background-color: #f8f9fb;
  border-radius: 5px;
  padding: 17px 5px;
  color: black;
  display: inline-block;
  clear: both;

  &:hover {
    background-color: white;
    color: black;
    text-decoration: none;
  }
}

.artist-region {
  background: center left no-repeat;
  background-size: 65% auto;

  .wawa & {
    background-image: url(../images/wawa-region.jpg);
  }

  .tonto & {
    background-image: url(../images/tonto-region.jpg);
  }

  .camille & {
    background-image: url(../images/camille-region.jpg);
  }

  &--wrapper {
    width: 45%;
    margin-left: 55%;
    padding: 5%;

    .wawa & {
      background-color: #a3cdcd;
    }

    .tonto & {
      background-color: #ddb569;
    }

    .camille & {
      background-color: #c8d6f8;
    }
  }

  &--text {
    background: url(../images/region-border.png) center no-repeat;
    background-size: 100% 100%;
    padding-bottom: 10%;

    .wawa & {
      background-color: #a3cdcd;
    }

    .tonto & {
      background-color: #ddb569;

      img {
        margin-left: 0;
      }
    }

    .camille & {
      background-color: #c8d6f8;
    }

    img {
      width: 105%;
      max-width: 1000px;
      position: relative;
      margin-top: -7%;
      margin-left: -2%;
    }
  }

  p {
    padding: 0 10%;
  }

  a {
    color: #a25142;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Libre Baskerville', serif;
    display: block;
    padding: 0 10%;

    &:hover {
      text-decoration: none;
    }
  }

}

